body {
  background-color: #134b3a;
  font-family: 'Nunito', sans-serif;
  margin: 0;
}

#header {
  background-color: #134b3a;
  color: white;
  text-align: center;
}

#main-content {
  display: flex;
}

#form-title {
  text-align: center;
}

#add-card {
  background-color: white;
  width: 50%;
}

form {
  background-color: white;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.150) 4px 4px 12px;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  max-width: 50%;
  padding: 10px 30px;
}

label {
  font-weight: 700;
}

#name-input, #description-input, #rare-input {
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  margin-top: 15px;
  padding: 5px;
  width: 100%;
}

#attr1-input, #attr2-input, #attr3-input {
  box-sizing: border-box;
  margin-left: 15px;
  padding: 7px;
  width: 80%;
}

#image-input {
  box-sizing: border-box;
  margin-left: 15px;
  padding: 7px;
  width: 77%;
}

button {
  background-color: #003be5;
  border: none;
  border-radius: 3px;
  color: white;
  max-width: min-content;
  padding: 10px 30px;
  transition: 100ms;
}

button:hover {
  background-color: #196aff;
  cursor: pointer;
}

button:active {
  background-color: #1761e9;
  cursor: pointer;
  transform: scale(0.97);
}

#card-title {
  color: white;
  text-align: center;
}

#preview-card {
  align-items: center;
  background-color: #0a2e23;
  display: flex;
  flex-direction: column;
  width: 50%;
}

#card-preview {
  background-color: white;
  border-radius: 5px;
  box-shadow: rgb(0, 0, 0) 4px 4px 8px;
  padding: 7px;
  text-align: center;
  transition: 500ms;
  width: 300px;
}

#card-preview:hover {
  box-shadow: rgb(0, 0, 0) 0px 0px 0px;
  transform: scale(1.03);
}

#main-info {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

#name-card {
  background-color: #0a2e23;
  border-radius: 4px 4px 0 0;
  box-sizing: border-box;
  color: white;
  height: 43px;
  margin: 0;
  padding: 5px;
  text-align: center;
  width: 100%;
}

img {
  background-color: rgb(94, 105, 87);
  box-sizing: border-box;
  margin: 0;
  height: 300px;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
}

/* para esconder o ícone da imagem */
img[alt] {
  text-indent: 1000px; 
}

#description-card {
  color: white;
  background-color: #134b3a;
  border-radius: 0 0 4px 4px;
  box-sizing: border-box;
  min-height: 43px;
  margin: 0;
  overflow: hidden;
  padding: 7px;
  width: 100%;
}

#attributes {
  background-color: rgb(245, 245, 245);
  border-radius: 5px;
  box-shadow: rgb(201, 201, 201) 0 0 5px;
  display: flex;
  justify-content: space-around;
  margin: 5px 0;
  padding: 7px;
  width: 100%;
  box-sizing: border-box;
}

.attr {
  box-sizing: border-box;
  padding: 0 5px;
  width: 30%;
}

.attr-title {
  font-weight: 700;
  margin: 0;
}

.attr-card {
  background-color: #0c4232;
  border-radius: 5px;
  color: white;
  margin: 0;
  padding: 5px;
}

#other-info {
  background-color: darkslategrey;
  border-radius: 5px;
  box-shadow: rgb(201, 201, 201) 0 0 5px;
  display: flex;
  justify-content: space-around;
  margin: 0;
}

#rare-card {
  background-color: #9dca56;
  border: solid black 2px;
  border-radius: 5px;
  font-weight: 700;
  padding: 5px 20px;
  text-transform: capitalize;
  width: 100px;
}

#trunfo-card {
  background-color: #3f62c2;
  border: solid black 2px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  padding: 5px 20px;
  width: 100px;
}

#card-list {
  background-color: rgb(243, 243, 243);
  padding: 50px 80px;
}

#deck-title {
  font-weight: 700;
  text-align: center;
}

#deck-cards {
  display: flex;
  justify-content: space-around;
}

#saved-card {
  align-items: center;
  display: flex;
  flex-direction: column;
}

#delete-button {
  background-color: #d30000;
  justify-self: center;
  margin: 15px;
}

#delete-button:hover {
  background-color: #ff3434;
}

#delete-button:active {
  background-color: #221a1a
}

#filter-container {
  text-align: center;
  margin-bottom: 30px;
}

#filter-title {
  margin: 5px;
}

#rare-filter {
  padding: 6px 20px;
  text-transform: capitalize;
}

#name-filter {
  padding: 5px;
  width: 20%;
}
