body {
  background-color: #134b3a;
  font-family: 'Nunito', sans-serif;
  margin: 0;
}

#header {
  background-color: #134b3a;
  text-align: center;
  color: white;
}

#main-content {
  display: flex;
}

#form-title {
  text-align: center;
}

#add-card {
  background-color: white;
  width: 50%;
}

form {
  background-color: white;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.150) 4px 4px 12px;
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
  margin: 20px auto;
  max-width: 50%;
}

label {
  font-weight: 700;
}

#name-input, #description-input, #rare-input {
  background: transparent;
  border: none;
  border-bottom: 1px solid black;
  margin-top: 15px;
  padding: 5px;
  width: 100%;
}

#attr1-input, #attr2-input, #attr3-input {
  margin-left: 15px;
  padding: 7px;
  width: 80%;
  box-sizing: border-box;
}

#image-input {
  margin-left: 15px;
  padding: 7px;
  width: 77%;
  box-sizing: border-box;
}

button {
  background-color: #003be5;
  border: none;
  border-radius: 3px;
  color: white;
  margin: 5px 0;
  max-width: min-content;
  padding: 10px 30px;
  transition: 200ms;
}

button:hover {
  background-color: #0066ff;
  cursor: pointer;
}

#card-title {
  color: white;
  text-align: center;
}

#preview-card {
  background-color: #0a2e23;
  width: 50%;
}

#name-card {
  color: white;
}

img {
  width: 360px;
}

#description-card {
  color: white;
}

#attr1-card, #attr2-card, #attr3-card {
  color: white;
}
